
<div data-role="header">


  <%= link_to 'Back', repairs_path, {"data-icon" =>"back", "data-ajax" =>"false", "class" => "ui-btn-left", "data-theme"=>"b"} %>

  <h1> Item:<%= @list.item%> </h1>
  </br>


  <div data-role="navbar"  data-iconpos="top" >

    <ul>

      <li> <%= link_to 'Add Item', new_repair_path, "data-icon"=>"plus", "data-theme"=>"b" %></li>
      <li><%= link_to 'Edit Item',  edit_repair_path(@repair), {"data-icon" =>"star", "data-theme"=>"b"} %></li>
      <li><%= link_to 'Delete Item ', repair_path(@repair), method: :delete, data: { confirm: 'Are you sure?' },"data-icon"=>"minus" , "data-theme"=>"b" %> </li>



    </ul>

    <p id="notice"><%= notice %></p>
  </div>

  <!-- end .header --></div>

<div data-role="content" data-theme="e" data-transition= "flip">
  <ul data-role="listview" data-filter="false" data-inset="true">


<p>
  <b>Item:</b>
  <%= @repair.item %>
</p>

<p>
  <b>Garment:</b>
  <%= @repair.garment %>
</p>

<p>
  <b>Price:</b>
  <%= @repair.price %>
</p>

<p>
  <b>Comment:</b>
  <%= @repair.comment %>
</p>

</ul>
<!-- end .content --></div>


