

<div data-role="header">
  <h1>Listing Shoes Items</h1>
  <!-- end .header --></div>



<div data-role="content" data-theme="b" data-transition= "flip" >

  <ul data-role="listview" data-filter="true" data-inset="true" data-theme="e">




    <% @shoes.each do |list| %>


        <li>
          <%= link_to list.item, list %>
          <span class="ui-li-count"> Minus 10%= <%=number_to_currency(list.price*0.9,:unit=>"£")%>, Base Price=<%=number_to_currency(list.price,:unit=>"£")%>, Plus 10%= <%=number_to_currency(list.price*1.1,:unit=>"£")%>, Plus 20%=  <%=number_to_currency(list.price*1.2,:unit=>"£")%> </span>
        </li>

    <% end %>
  </ul>


  <!-- end .content --></div>

<div data-role="footer">

  <div data-role="navbar" data-position="fixed" data-iconpos="top" >

    <ul>

      <li> <%= link_to 'Add Item', new_shoe_path, "data-icon"=>"plus", "data-theme"=>"b" %></li>


      <li><%= link_to 'List Items', shoes_path, "data-ajax" =>"false", "data-icon"=>"refresh", "data-theme"=>"b" %> </li>





    </ul>

  </div>


  <!-- end .footer --></div>
